In [ ]:
print("Hello World")

In [ ]:
import pandas as pd

In [ ]:
%pip install pymysql

**Step 1 Data Exploration & Leading**

In [ ]:
#importing dependencies

import pandas as pd

#mysql toolkit
import pymysql      #this will work as adapter
from sqlalchemy import create_engine

In [ ]:
print(pd.__version__)

In [ ]:
df = pd.read_csv('Walmart.csv', encoding_errors='ignore')

df.shape

In [ ]:
df.head()

In [ ]:
df.describe()

In [ ]:
df.info()

In [ ]:
#all duplicates
df.duplicated().sum()

In [ ]:
df.drop_duplicates(inplace=True)
df.duplicated().sum()

In [ ]:
df.shape

In [ ]:
df.isnull().sum()

In [ ]:
#droppping all rows with missing records
df.dropna(inplace=True)

# verify
df.isnull().sum()

In [ ]:
df.shape

In [ ]:
df.dtypes

In [ ]:
df['unit_price'].astype(float)

In [ ]:
df['unit_price'] = df['unit_price'].str.replace('$', '').astype(float)

df.head()

In [ ]:
df.info()

In [ ]:
df.columns

In [ ]:
df['total'] = df['unit_price'] * df['quantity']
df.head()

**Fixing the column name to lower case**

In [ ]:
df.columns

In [ ]:
df.columns = df.columns.str.lower()
df.columns

In [ ]:
# mysql 
# host = localhost
# port = 3306
# user = root
# password = 'your_password'

In [ ]:
df.shape

In [ ]:
df.to_csv('walmart_clean_data.csv', index=False)

In [ ]:
help(create_engine)

In [ ]:
#mysql connection
# "mysql+pymysql://user:password@localhost:3306/db_name"
engine_mysql = create_engine("mysql+pymysql://root@localhost:3306/walmart_db")

try:
    engine_mysql
    print("Connection Successed to mysql")
except:
    print("Unable to connect")

In [ ]:
df.to_sql(name='walmart', con=engine_mysql, if_exists='append', index=False)

In [ ]:
df.shape

In [ ]:
df.to_csv('walmart_clean_data.csv', index=False)